<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
</head>
<body>
    <a href='/user/list'>Back</a>
    <form method='post'>
        <div><label>Display Name&nbsp;&nbsp;</label><input type='text' name='displayName'></div>
        <div><label>User Principal Name&nbsp;&nbsp;</label><input type='text' name='userPrincipalName'></div>
        <div><label>Password&nbsp;&nbsp;</label><input type='password' name='password'></div>
        <div><input type='submit' value='submit'></div>
    </form>
</body>
</html>