<!DOCTYPE html>
<html>
<head>
    <title>List User</title>
</head>
<body>
    <a href='/user/add'>Add User</a>
    <a href='/user/me'>My information</a>
    <table id="content">
    <tr>
        <td>Display Name</td>
        <td>User Principal Name</td>
        <td>Object Id</td>
        <td>Account Enabled</td>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user.displayName}}</td>
        <td>{{user.userPrincipalName}}</td>
        <td>{{user.objectId}}</td>
        <td>{{user.accountEnabled}}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>