{% extends "base.html" %}

{% block body %}
    <p><a href="{{url_for('get_user')}}" class="btn btn-primary btn-large">My information</a></p>
    {% if users %}
    <div class="list-group">
        {% for user in users %}
        <a data-index="{{loop.index0}}" class="list-group-item choose-user">{{user['mailNickname']}}</a>
        {% endfor %}
    </div>

    <table id="content" class="table table-bordered table-striped table-hover">
        <tbody>
            {% for key in users[0].keys() %}
            <tr>
                <td>{{key}}</td>
                {% for user in users %}
                <td data-index="{{loop.index0}}" class="user-information" style="display:none">{{user[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
    (function(){
        $(function(){
            $('.user-information[data-index=0]').css('display', 'table-cell');
            $('.choose-user').click(function(){
                var index = $(this).data('index');
                $('.user-information').css('display', 'none');
                $('.user-information[data-index='+index+']').css('display', 'table-cell');
            });
        });
    })();
    
    </script>
{% endblock %}